* {
   margin: 0;
   padding: 0;
}
body{ margin:0; font-family:sans-serif;font-size: 16px;background: #fff;}
ul{list-style: none;}
.inicio{width: 95%;margin:auto;}
a{text-decoration: none;}
h1{color: #0255a5;text-align: center}
h1:hover{color: #f58133;cursor: default}
h2{text-transform: uppercase;color: #333333;font-size: 1.1em;padding: 10px}
h3{font-weight: normal;  font-size: 1em; text-transform: uppercase;color: #fff;}
p{color: #666666;font-size: 1em;line-height: 18px;padding: 10px 20px}
h4{color: #0252a5;text-transform: uppercase;padding: 0 10px;font-size: .8em}
h5{padding: 10px 5px;font-size: 0.8em;text-transform: uppercase}
h6{text-transform: uppercase;font-size: .8em;color: #333333;padding: 8px 0 0}
h6:hover{color:#0255a5}
.border_radius{border-radius: 50%}
.relative{position: relative;}
.button_menu{display: none}
.button_menu{position: absolute;top: 50%;margin-top: -10px;padding-right: 10px;left: .5em;cursor: pointer}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.center-block{margin:0 auto;}
.wrap{width: 100%}
.round{border-radius: 50%;overflow: hidden;}
.borde{border-bottom: 1px solid #999999}
header{position: fixed;z-index: 99;top:0;width: 100%;height: 3.5em;background: #0066AD;}
header nav {width:88%;margin:auto;}
header nav ul {overflow:hidden;}
header nav ul li {float:left;}
header nav ul li a{text-transform: uppercase;padding: 1em;display: block;color:#fff;cursor: pointer;border-top:6px solid transparent}
header nav ul li a:hover{border-top:6px solid #003366}
header nav ul li a img{margin-top: -15px}
/*.facebook{color: #43609c}
.twitter{color: #55acee}
.google{color: #dc503f}
.youtube{color: #da2723}
.pinterest{color: #ff7a19}*/
.bottom{margin-bottom: 10px}
.menu{display: none}
.hidden{display: none}
figure{margin:0;height: 200px;overflow: hidden}
.not_contenedor figure img{-webkit-transition: all .35s linear;-moz-transition: all .35s linear;-o-transition: all .35s linear;-ms-transition: all .35s linear;transition: all .35s linear;}
.not_contenedor figure:hover img{cursor: pointer;-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-o-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}
.autores{background: rgb(34, 34, 34);}
#derechos{width: 50%;}
#derechos>P{color: #fff}
#disenio{width: 50%;}
#disenio>p{color: #fff}
.container{width: 89%;margin:auto;background: #fff;}
.slider-container {position: relative;width: 70%;}
.slider-wrapper {position: relative;height: 350px;width: 100%;overflow: hidden;box-sizing: border-box;}
.contact{width: 30%;background: #ecf5e9}
.white{color: red}
.color_1:hover{background: #f58133;}
.color_1:hover a{color: #fff}
.interes{width: 86%;margin: auto}
.interes>ul>li{background: #fff;padding: 15px;margin-bottom: 10px;border-radius: 8px;box-shadow: #b6b6b6 0 3px 0}
.interes>ul>li>a{color: #555;}
.adquiere{background: #0175B0;color: #fff;border-radius: 5px;margin:auto;}
.celeste{background: #0175B0;padding: 10px 15px;}
.verde{background: #55b849;padding: 10px 43px;}
.slider-wrapper li {display: none;}
   li.slide-current {display: block;}
.slider-wrapper li> img {width: 100%;position: absolute;top: 0;left: 0;height: 100%}
.slider-controls {position: relative;text-align: center;top: -40px;height: 0px;width: 80px;left: 46%}
.slider-controls li {background: #415066;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;display: inline-block;height: 12px;
   width: 12px;
   margin: 0 4px;
   cursor: pointer;
}
.slider-controls li.active {background: #00c5b9;}
ul{margin:0; padding: 0}
.rs{margin-top: 6px}
.rs>ul{list-style: none;margin-right: 15px;}
.rs>ul> li{float: right;}
.title{text-align: center;margin:0;line-height:3.5em;font-weight: 700;}
.fila > * {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.fila:after, .fila:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.fila.uniform > * > :first-child {
    margin-top: 0;
}
.fila.uniform > * > :last-child {
    margin-bottom: 0;
}
.servicios{background: #f2f2f2;margin-top: 20px}
.servi{width: 50%;box-sizing: border-box;margin-bottom: 20px}
.scontent{padding-left: 10px;margin-bottom: 40px}

.login{position: absolute;display: none;z-index: 99;right: 34px;}
.login > form{width: 311px;box-sizing: border-box;background: #eee;padding: 10px 20px;border:1px solid #d9d9d9;}
.login form>h5{color: #595959}
input , textarea{width: 100%;padding: 10px 10px;box-sizing: border-box;border:none;border-radius: 4px;}
textarea{max-width: 100%;min-height: 100px;max-height: 120px;margin-bottom: 15px}
.login > form input{margin-bottom: 20px}
#btn-enviar{background: #0255A5;color:#fff;border-radius: 5px;font-size: 17px;cursor: pointer;}
#btn-enviar:hover {background:#003366;}
.noticias{margin-top: 15px}
.derecha{margin-right: 2%}
#beneficios{width: 32%;box-sizing: border-box}
#herramientas{width: 32%;margin: auto}
b{color: #0255a5;font-size: 1.3em;padding: 20px 50px}
.titulo{background: #0255A5;margin-bottom: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 6px}
.titulo>a{color: #fff;font-size: 16px;text-transform: uppercase}
.bene_descripcion{margin-top: -4px;border:1px solid #D9D9D9;box-sizing: border-box}
.figure_item{
    box-sizing: border-box;
    float: left;
    height: 120px;
    width: 120px;
    line-height: 120px;
    margin-right: 30px;
}
.figure_item img{ border-radius: 50%;height: 120px;border:7px solid #fff;box-sizing: border-box;}
.noticias{margin-top: 10px;}
.not_contenedor{width: 23%;box-sizing: border-box;border: 1px solid #d9d9d9;margin: 0 1% 2% 1%;padding: 0}
.not_contenedor a figure{}
.not_contenedor>a>p:hover{color: #333333}
.titulo_not{padding: 5px 0 0 20px}
.titulo_not>h3{color: #333333;font-weight: 600}
.contactos{background: #f2f2f2;margin-top: 10px}
footer{background: #0066AD;margin-top: 10px}
.img_footer{width: 30%;}
.img_footer>img{padding: 0 16px}
.img_footer>p{color:#fff;}
.rs_footer{width: 30%;}
.footer_h4{padding: 10px 20px;color:#f0bf23;}
.rs_footer ul{border-left: 1px solid white}
.rs_footer li{position: relative;}
.rs_footer a{color: #fff;position: absolute;top:14px;}
.rs_footer > ul{margin-left: 0}
.buscar{width:40%;}
.ingresar{float: right;padding: 1.2em 20px;color: #fff;cursor: pointer}
.ingresar:hover{color: #FDBD0F}
.buscar form > input {border-radius: 5px;border:0;color: #aaa;padding: 5px 10px;font-size: 16px;width: 50%;border: 1px solid #b49756}
.form_contacto{width: 50%}
.form_contacto > form{width: 80%;padding: 5px 20px;box-sizing: border-box;margin:auto;}
.form_contacto > form >input{margin-bottom: 20px}
label{color: #797979;font-weight: inherit;margin-bottom: 5px}

/*input , textarea{width: 100%;margin-bottom: 20px;font-size: 17px; padding: 7px 10px;box-sizing: border-box;}
textarea{min-height: 80px;max-width: 100%;max-height: 200px}*/
.mapa{width: 50%}
.mapa>h4{padding:10px;}
@media(max-width: 780px){

    .not_contenedor{width: 48%}
    .contact{width: 100%}
    .inicio{margin-top: 57px}
    .image{display: none;}
    .rs{display: none;}
    .title{color: #0255a5;}
    .slider-container {
        width: 500px;
    }
    .slider-wrapper {
        height: 320px;

      }
      h3{padding: 0 10px}
      p{font-size: 13px;}
      h4{font-size: 12px}

}
@media(min-width: 1000px){
    .title{display: none;}
    .mostrar{display: none}
    h1{margin-top: 10px}
    .img_footer>h3{font-size: 1.3em;padding: 10px 0 0 20px }
    .inicio{margin-top: 55px;padding:0;}
    .container{margin-top: 20px;}
    .logo{padding: 1em 0;overflow: hidden;background: #fff;width: 85%;margin:auto;}

    .servicios h3{text-align: center;}
}

@media only screen and (max-width: 999px) {
  .image{display: none;
  }
  header{background: #fff;border-bottom: 1px solid #D9D9D9}
  header nav {width:80%;height:100%;left:-100%; margin-top:1px;position: fixed;background: #fff;box-sizing: border-box}
  header nav ul li { display:block; float:none; border-bottom:1px solid rgba(255,255,255, .3);}
  header nav ul li a{border-top: 0;color: #666666;border-bottom: 1px solid #D9D9D9}
  header nav ul li a:hover{border-top:none;background: #ededed}
  #ocultar{display: none}
  .ingresar{color:#666666;float: left;width: 100%;display: none}
  .button_menu{display: block}
  .inicio{width: 100%;margin-top: 57px}
  .slider-wrapper {width: 100%;height: 270px;border: 0;  }
  .slider-controls li{width: 8px;height: 8px;}
  .hidden{display: block}
  .contact{width: 100%}
  .container{width: 98%}
  .rs{display: none;}
  .slider-container {
    padding: 0;
    width: 100%;
  }
  .caption {
    display: none;
  }
  h3{font-size: 13px;text-align: center;padding: 10px}
  h4{font-size: 13px}
  .icono{font-size: 17px}
  .dserv{padding: 1% 2%}
}
.errorlist{
    color:red;
    font-size: 14px;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 15px;
}
/*mobil*/
@media only screen and (max-width: 480px) {
  .slider-wrapper {width: 100%;height: 170px;border: 0;  }
  .slider-controls li{width: 8px;height: 8px;}
  .contact{width: 95%;margin-top: 10px;box-sizing: border-box;margin-left:2.5%;margin-bottom: 10px}
  h2{font-size: 1em}
  h4{font-size: 12px;}
  p{font-size: 15px}
  .servi{width: 100%;margin-bottom: 10px}
  .noticias{margin-top: 10px;box-sizing: border-box}
 .not_contenedor{width: 100%;margin: 1% 0}
  .inicio{width: 100%;margin-top: 57px}
  .interes{width: 95%;box-sizing: border-box;padding: 0}

  .figure_item{height: 55px;width: 55px;line-height: 55px; margin-right: 15px;}
  .figure_item img{height: 55px;border:3px solid #fff}
  .img_footer{width: 100%}
  .container{width: 95%;}
  .rs_footer{width: 100%}
  .rs_footer ul{border-left: 0}
  .buscar{width: 100%}
  .buscar form > input{width: 80%}
  .form_contacto{width: 100%}
  .mapa{width: 100%}
  .form_contacto > form{width: 100%;padding: 10px 5px}
  .noticias{width: 100%;margin: auto}
  #beneficios{width: 100%;padding-bottom: 10px}
  .slider-container{width: 100%}
  h1{font-size: 1em;margin-top: 5px}
  .scontent{margin-bottom: 10px}
  #derechos{width: 100%}
  #disenio{width: 100%}

}