
.perfilI  {
  z-index: 9999;
  position: relative;
  overflow: hidden;
  margin: 10px;  
  width: 200px;
  height: 200px;
}
 input#imgInp {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    height: 200px;    
}  
 .vista {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 200px;
    font-size: 20px;
}  
.re {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
}  
.di{
    display: none;
}
.pen{
    color: skyblue;
    background: rgba(255, 255, 255, 0.5);;
}
.pen:hover{
    color: red;
}