<a href="#atras" style="color: red;" onclick = "traemedatos('security/usuarios')" >
    <i class="fa fa-backward"></i>
    Atras
</a><br>
{% for users in users %}
<h2 align="center">
    Acerca de {{ users.names|title }}
</h2>
<br>
<div class="panel">
    registrado el: {{ users.date_join }}<br>
    <div class="col-md-6 hr">
        <label for="">Nombres:</label><br>
        {{ users.names|title }}<br>
        <label for="">Apellidos:</label><br>
        {{ users.first_name|title }} {{ users.last_name|title }}<br>
        <label for="">Celular:</label><br>
        {{ users.cellphone }}<br>
        <label for="">Teléfono:</label><br>
        {{ users.telephone }}<br>
        <label for="">Dirección:</label><br>
        {{ users.address }}<br>
        <label for="">Grupo sanguineo:</label><br>
        {{ users.blood_group }}<br>
        <label for="">Sexo:</label><br>
        {{ users.sex }}<br>

    </div>
    <div class="col-md-6">
        <label for="">Usuario:</label><br>
        {{ users.username }}<br>
        <label>Contraseña:</label><br>
        {{ users.password_default }}<br>
        <label for="">DNI:</label><br>
        {{ users.dni }}<br>
        <label for="">Email:</label><br>
        {{ users.email }}<br>
        <label for="">Foto:</label><br>
        <img src="media/{{ users.foto }}" alt=""><br>
    </div>
</div>
{% endfor %}