<!DOCTYPE html>
<html lang="es"> 
<head>
    <meta charset="utf-8">
    <!-- ==========================
    	Title
    =========================== -->
    <title>{% block title %}{% endblock %}</title>

    {% load static from staticfiles %}
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}/img/icons/favicon1.png">
    <!-- ==========================
    	Fonts
    =========================== -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lilita+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    {% block css %}

    {% endblock %}

</head>

<body id="page-top">

    {% block contenido %} 
    {% endblock %}


    <script type="text/javascript" src="{% static 'js/js-core.js.pagespeed.jm.NS0ql0YgTp.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery-cript.js' %}"></script>
    <!-- jquery cript -->
    <script>eval(mod_pagespeed_19WID9$3F8);</script>

    {% block js %}
    
    {% endblock %}

</body>
</html>