{% load static %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/estilosadmin.css' %}" />
<style>
    .errorlist{
        color: red;
    }
</style>
<form action="" method="post">{% csrf_token %}

<div class="form-group">
    {{ form.old_password.label_tag }} {{ form.old_password }}
    {{ form.old_password.errors }}
</div>

<div class="form-group">
    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
    {{ form.new_password1.errors }}

</div>

<div class="form-group">
    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
    {{ form.new_password2.errors }}
    {% if form.new_password2.help_text %}
    <p class="help">{{ form.new_password2.help_text }}</p>
    {% endif %}
</div>
    <script type="text/javascript" src="{% static 'js/js-core.js.pagespeed.jm.NS0ql0YgTp.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery-cript.js' %}"></script>
    <!-- jquery cript -->
    <script>eval(mod_pagespeed_19WID9$3F8);</script>
<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
<script>
    $("input").attr('class',"form-control input-sm");
</script>
<div class="submit-row">
    <input type="submit" class="btn btn-sm btn-primary pull-left m-t-n-xs"value="cambiar" class="default" />
</div>
