
    {% for u in lista %}
        <tr class="padre" id="{{u.id}}">
            <td>
                <input type="checkbox" name="allDel[]" value="{{u.id}}">
            </td>
            <td>{{ forloop.counter }}</td>
            <td> <a class="puntero"onclick="moreUser({{ u.id }})" style="color: steelblue">{{ u.first_name|title }}  {{ u.last_name|title }},  {{ u.names|title }}</a></td>
            <td>
                {% for p in u.profiles.all %}
                    <li style="color: forestgreen">{{ p }}<br></li>
                {% endfor %}
            </td>
            <td>{{ u.username }}</td>
            <td>{{ u.dni }}</td>
            <td><a class="puntero">
                <i class="fa fa-pencil" style="color: orangered;"  onclick="updateUser({{ u.id }})"></i>
            </a></td>
            <td><a class="puntero">
                <i class="fa fa-trash-o" style="color: red;"  onclick="deleteUser({{ u.id }})"></i>
            </a></td>
        </tr>
    {% endfor %}
<tr>
<td colspan="8">
    <a class="puntero" onclick="Delall()" ><i class="fa fa-trash-o fa-lg" ></i> Eliminar seleccionados</a>
</td>
</tr>