<div class="content-box" >
<form action="" id="form_gurcuenta" method="POST" accept-charset="utf-8">
{% csrf_token %}
{{f}}
</form>
<div class="col-md-6">
    <a href="#editar_info" onclick="guardar_perfil()" class="btn btn-primary btn-sm btn-block">Guardar</a>
</div>
</div>