{% load static from staticfiles %}

<h2 align="center">{{ name }} Usuarios</h2> <br>
<a href="#atras" style="color: red;" onclick = "traemedatos('security/usuarios')" >
    <i class="fa fa-backward"></i>
    Atras
</a><br>
<form action="#" method="POST" onsubmit="formuser(this);return false">
    {% csrf_token %}
    <strong>{{ form.sex.label }}</strong>
    {{ form.sex }}<br>
    <strong>{{ form.names.label }}</strong>
    {{ form.names }}<br>
     <strong>{{ form.first_name.label }}</strong>
    {{ form.first_name }}<br>
     <strong>{{ form.last_name.label }}</strong>
    {{ form.last_name }}<br>


     <strong>{{ form.dni.label }}</strong>
    {{ form.dni }}
     <strong style="color: green;">*{{ form.dni.help_text }} </strong> <br><br>
    <strong>{{ form.profiles.label }}</strong>
    {{ form.profiles }}
    {{ form.password1 }}
    {{ form.password2 }}
    {{ form.email }}
    {{ form.username }}
    <br><br>
    <button type="submit" class="btn btn-alt btn-hover btn-info btn-danger" >
        <span>{{ name }} </span>
        <i class="glyph-icon icon-arrow-right"></i>
    </button>
</form>

<script type="text/javascript" src="{% static 'js/appSecurity/users.js' %}"></script>
