<style>
    .nury>li>a{
        color: white;
        text-transform: uppercase;
    }
</style>
<div id="sb-site">

    <div id="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div id="page-wrapper">
        <div id="page-header" class="bg-gradient-9">
    <div id="mobile-navigation">
        <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
        <a href="/" class="logo-content-small" title="Emmarc"></a>
    </div>
    <div id="header-logo" class="logo-bg">
        <a href="/" class="logo-content-big" title="Emmarc">
            <i>E</i>mmarc
            <span>La solución perfecta</span>
        </a>
        <a href="/" class="logo-content-small" title="Emmarc">
            <i>E</i>mmarc
            <span>La solución perfecta</span>
        </a>
        <a id="close-sidebar" href="#" title="Close sidebar">
            <i class="glyph-icon icon-angle-left"></i>
        </a>
    </div>
    <div id="header-nav-left">
        <div style="padding-right: 20px;" class="user-account-btn dropdown">
            <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown">
                <img id="foto_perfil1" width="28" src="
                                {% if user.foto %}
                                    {{ MEDIA_URL }}{{user.foto}}
                                {% elif user.foto_url %}
                                    {{user.foto_url}}
                                {% else %}
                                    {{ MEDIA_URL }}fotoperfil/miuser.jpg
                                {% endif %}" 
                alt="Profile image">
                <span>{{user.username}}</span>
                <i class="glyph-icon icon-angle-down"></i>
            </a>
            <div class="dropdown-menu float-left">
                <div class="box-sm">
                    <div class="login-box clearfix">
                        <div class="user-img">
                            <a href="#'security/cuenta'" title=""  class="change-img">Cambiar Foto</a>
                            <img id="foto_perfil" src="
                                {% if user.foto %}
                                    {{ MEDIA_URL }}{{user.foto}}
                                {% elif user.foto_url %}
                                    {{user.foto_url}}
                                {% else %}
                                    {{ MEDIA_URL }}fotoperfil/miuser.jpg
                                {% endif %}" 
                             alt="">
                        </div>
                        <div class="user-info">
                            <span>
                                {{user.username}}
                                <i>{{ profile_des }} de Emmarc</i>
                            </span>
                            <a href="#{% url 'editcuenta' %}"  title="Edit profile">Editar Perfil</a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="pad5A button-pane button-pane-alt text-center">
                        <a href="{% url 'cerrarsesion' %}" class="btn display-block font-normal btn-danger">
                            <i class="glyph-icon icon-power-off"></i>
                            Cerrar Sesión
                        </a>
                    </div>
                </div>
            </div>
        </div>



    </div><!-- #header-nav-left -->

    <div id="header-nav-right">
        <a href="#" class="hdr-btn popover-button" title="Search" data-placement="bottom" data-id="#popover-search">
            <i class="glyph-icon icon-search"></i>
        </a>
        <div class="hide" id="popover-search">
            <div class="pad5A">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search terms here ...">
                    <span class="input-group-btn">
                        <a class="btn btn-primary" href="#">Search</a>
                    </span>
                </div>
            </div>
        </div>
        <a href="#" class="hdr-btn" id="fullscreen-btn" title="Fullscreen">
            <i class="glyph-icon icon-arrows-alt"></i>
        </a>



        <div class="dropdown" id="dashnav-btn">
            <a href="#" data-toggle="dropdown" data-placement="bottom" class="popover-button-header tooltip-button" title="Dashboard Quick Menu">
                <i class="glyph-icon icon-linecons-cog"></i>
            </a>
            <div class="dropdown-menu float-right">
                <div class="box-sm">
                    <div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix">
                        {% for f in profile  %}
                            <a href="../?sys={{ f.profiles }}" class="btn vertical-button hover-blue-alt" title="">
                                <span class="glyph-icon icon-separator-vertical pad0A medium">
                                    <i class="glyph-icon icon-dashboard opacity-80 font-size-20"></i>
                                </span>
                                {{ f.profiles__description }}
                            </a>
                        {% endfor %}
                    </div>
                    <div class="divider"></div>
                    <div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix">
                        <div id="theme-switcher-wrapper">
                            <div class="scroll-switcher">
                                <h5 class="header">OPCIÓN DE DISEÑO</h5>
                                <ul class="reset-ul">
                                    <li>
                                        <label for="boxed-layout">Diseño en Caja</label>
                                        <input type="checkbox" data-toggletarget="boxed-layout" id="boxed-layout" class="input-switch-alt">
                                    </li>
                                    <li>
                                        <label for="fixed-header">Cabecera Fija</label>
                                        <input type="checkbox" data-toggletarget="fixed-header" id="fixed-header" class="input-switch-alt">
                                    </li>
                                    <li>
                                        <label for="fixed-sidebar">Barra Lateral Fija</label>
                                        <input type="checkbox" data-toggletarget="fixed-sidebar" id="fixed-sidebar" class="input-switch-alt">
                                    </li>
                                    <li>
                                        <label for="closed-sidebar">Barra Lateral Cerrada</label>
                                        <input type="checkbox" data-toggletarget="closed-sidebar" id="closed-sidebar" class="input-switch-alt">
                                    </li>
                                </ul>
                                <div class="boxed-bg-wrapper hide">
                                    <h5 class="header">
                                        Fondo de Pagina
                                        <a class="set-background-style" data-header-bg="" title="Remove all styles" href="javascript:void(0);">Borrar</a>
                                    </h5>
                                    <div class="theme-color-wrapper clearfix">
                                        <h5>Patrones</h5>
                                        <a class="tooltip-button set-background-style pattern-bg-3" data-header-bg="pattern-bg-3" title="Patrón 3" href="javascript:void(0);">Patrón 3</a>
                                        <a class="tooltip-button set-background-style pattern-bg-4" data-header-bg="pattern-bg-4" title="Patrón 4" href="javascript:void(0);">Patrón 4</a>
                                        <a class="tooltip-button set-background-style pattern-bg-5" data-header-bg="pattern-bg-5" title="Patrón 5" href="javascript:void(0);">Patrón 5</a>
                                        <a class="tooltip-button set-background-style pattern-bg-6" data-header-bg="pattern-bg-6" title="Patrón 6" href="javascript:void(0);">Patrón 6</a>
                                        <a class="tooltip-button set-background-style pattern-bg-7" data-header-bg="pattern-bg-7" title="Patrón 7" href="javascript:void(0);">Patrón 7</a>
                                        <a class="tooltip-button set-background-style pattern-bg-8" data-header-bg="pattern-bg-8" title="Patrón 8" href="javascript:void(0);">Patrón 8</a>
                                        <a class="tooltip-button set-background-style pattern-bg-9" data-header-bg="pattern-bg-9" title="Patrón 9" href="javascript:void(0);">Patrón 9</a>
                                        <a class="tooltip-button set-background-style pattern-bg-10" data-header-bg="pattern-bg-10" title="Patrón 10" href="javascript:void(0);">Patrón 10</a>

                                        <div class="clear"></div>

                                        <h5 class="mrg15T">Colores &amp;Sólidos</h5>
                                        <a class="tooltip-button set-background-style bg-black" data-header-bg="bg-black" title="Negro" href="javascript:void(0);">Negro</a>
                                        <a class="tooltip-button set-background-style bg-gray mrg10R" data-header-bg="bg-gray" title="Gris" href="javascript:void(0);">Gris</a>

                                        <a class="tooltip-button set-background-style full-bg-1" data-header-bg="full-bg-1 fixed-bg" title="Image 1" href="javascript:void(0);">Image 1</a>
                                        <a class="tooltip-button set-background-style full-bg-2" data-header-bg="full-bg-2 fixed-bg" title="Image 2" href="javascript:void(0);">Image 2</a>
                                        <a class="tooltip-button set-background-style full-bg-3" data-header-bg="full-bg-3 fixed-bg" title="Image 3" href="javascript:void(0);">Image 3</a>
                                        <a class="tooltip-button set-background-style full-bg-4" data-header-bg="full-bg-4 fixed-bg" title="Image 4" href="javascript:void(0);">Image 4</a>
                                        <a class="tooltip-button set-background-style full-bg-5" data-header-bg="full-bg-5 fixed-bg" title="Image 5" href="javascript:void(0);">Image 5</a>
                                        <a class="tooltip-button set-background-style full-bg-6" data-header-bg="full-bg-6 fixed-bg" title="Image 6" href="javascript:void(0);">Image 6</a>

                                    </div>
                                </div>
                                <h5 class="header">
                                    Estilo de Cabecera
                                    <a class="set-adminheader-style" data-header-bg="bg-gradient-9" title="Remover todo los estilos" href="javascript:void(0);">Borrar</a>
                                </h5>
                                <div class="theme-color-wrapper clearfix">
                                    <h5>Sólidos</h5>
                                    <a class="tooltip-button set-adminheader-style bg-primary" data-header-bg="bg-primary font-inverse" title="Primario" href="javascript:void(0);">Primario</a>
                                    <a class="tooltip-button set-adminheader-style bg-green" data-header-bg="bg-green font-inverse" title="Verde" href="javascript:void(0);">Verde</a>
                                    <a class="tooltip-button set-adminheader-style bg-red" data-header-bg="bg-red font-inverse" title="Rojo" href="javascript:void(0);">Rojo</a>
                                    <a class="tooltip-button set-adminheader-style bg-blue" data-header-bg="bg-blue font-inverse" title="Azul" href="javascript:void(0);">Azul</a>
                                    <a class="tooltip-button set-adminheader-style bg-warning" data-header-bg="bg-warning font-inverse" title="Peligro" href="javascript:void(0);">Peligro</a>
                                    <a class="tooltip-button set-adminheader-style bg-purple" data-header-bg="bg-purple font-inverse" title="Púrpura" href="javascript:void(0);">Púrpura</a>
                                    <a class="tooltip-button set-adminheader-style bg-black" data-header-bg="bg-black font-inverse" title="Negro" href="javascript:void(0);">Negro</a>

                                    <div class="clear"></div>

                                    <h5 class="mrg15T">Degradados</h5>
                                    <a class="tooltip-button set-adminheader-style bg-gradient-1" data-header-bg="bg-gradient-1 font-inverse" title="Degradado 1" href="javascript:void(0);">Degradado 1</a>
                                    <a class="tooltip-button set-adminheader-style bg-gradient-2" data-header-bg="bg-gradient-2 font-inverse" title="Degradado 2" href="javascript:void(0);">Degradado 2</a>
                                    <a class="tooltip-button set-adminheader-style bg-gradient-3" data-header-bg="bg-gradient-3 font-inverse" title="Degradado 3" href="javascript:void(0);">Degradado 3</a>
                                    <a class="tooltip-button set-adminheader-style bg-gradient-4" data-header-bg="bg-gradient-4 font-inverse" title="Degradado 4" href="javascript:void(0);">Degradado 4</a>
                                    <a class="tooltip-button set-adminheader-style bg-gradient-5" data-header-bg="bg-gradient-5 font-inverse" title="Degradado 5" href="javascript:void(0);">Degradado 5</a>
                                    <a class="tooltip-button set-adminheader-style bg-gradient-6" data-header-bg="bg-gradient-6 font-inverse" title="Degradado 6" href="javascript:void(0);">Degradado 6</a>
                                    <a class="tooltip-button set-adminheader-style bg-gradient-7" data-header-bg="bg-gradient-7 font-inverse" title="Degradado 7" href="javascript:void(0);">Degradado 7</a>
                                    <a class="tooltip-button set-adminheader-style bg-gradient-8" data-header-bg="bg-gradient-8 font-inverse" title="Degradado 8" href="javascript:void(0);">Degradado 8</a>
                                </div>
                                <h5 class="header">
                                    Estilo de Barra Lateral
                                    <a class="set-sidebar-style" data-header-bg="" title="Remover todos los Estilos" href="javascript:void(0);">Borrar</a>
                                </h5>
                                <div class="theme-color-wrapper clearfix">
                                    <h5>Solidós</h5>
                                    <a class="tooltip-button set-sidebar-style bg-primary" data-header-bg="bg-primary font-inverse" title="Primario" href="javascript:void(0);">Primario</a>
                                    <a class="tooltip-button set-sidebar-style bg-green" data-header-bg="bg-green font-inverse" title="Verde" href="javascript:void(0);">Verde</a>
                                    <a class="tooltip-button set-sidebar-style bg-red" data-header-bg="bg-red font-inverse" title="Rojo" href="javascript:void(0);">Rojo</a>
                                    <a class="tooltip-button set-sidebar-style bg-blue" data-header-bg="bg-blue font-inverse" title="Azul" href="javascript:void(0);">Azul</a>
                                    <a class="tooltip-button set-sidebar-style bg-warning" data-header-bg="bg-warning font-inverse" title="Peligro" href="javascript:void(0);">Peligro</a>
                                    <a class="tooltip-button set-sidebar-style bg-purple" data-header-bg="bg-purple font-inverse" title="Púrpura" href="javascript:void(0);">Púrpura</a>
                                    <a class="tooltip-button set-sidebar-style bg-black" data-header-bg="bg-black font-inverse" title="Negro" href="javascript:void(0);">Negro</a>

                                    <div class="clear"></div>

                                    <h5 class="mrg15T">Degradados</h5>
                                    <a class="tooltip-button set-sidebar-style bg-gradient-1" data-header-bg="bg-gradient-1 font-inverse" title="Degradado 1" href="javascript:void(0);">Degradado 1</a>
                                    <a class="tooltip-button set-sidebar-style bg-gradient-2" data-header-bg="bg-gradient-2 font-inverse" title="Degradado 2" href="javascript:void(0);">Degradado 2</a>
                                    <a class="tooltip-button set-sidebar-style bg-gradient-3" data-header-bg="bg-gradient-3 font-inverse" title="Degradado 3" href="javascript:void(0);">Degradado 3</a>
                                    <a class="tooltip-button set-sidebar-style bg-gradient-4" data-header-bg="bg-gradient-4 font-inverse" title="Degradado 4" href="javascript:void(0);">Degradado 4</a>
                                    <a class="tooltip-button set-sidebar-style bg-gradient-5" data-header-bg="bg-gradient-5 font-inverse" title="Degradado 5" href="javascript:void(0);">Degradado 5</a>
                                    <a class="tooltip-button set-sidebar-style bg-gradient-6" data-header-bg="bg-gradient-6 font-inverse" title="Degradado 6" href="javascript:void(0);">Degradado 6</a>
                                    <a class="tooltip-button set-sidebar-style bg-gradient-7" data-header-bg="bg-gradient-7 font-inverse" title="Degradado 7" href="javascript:void(0);">Degradado 7</a>
                                    <a class="tooltip-button set-sidebar-style bg-gradient-8" data-header-bg="bg-gradient-8 font-inverse" title="Degradado 8" href="javascript:void(0);">Degradado 8</a>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
            </div><!-- #header-nav-right -->
</div>
<script>
 function nury(u,id){
     $.get(u+id+"/",function(d){
         $("#resultados").empty().html(d);
     });
 }

</script>