{% extends "base_security.html" %}
{% block title %}
  *** INGENIO ***
{% endblock %}
{% block css %}
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/creative-brands.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/vertical-carousel.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />


    <!-- ==========================
    	JS
    =========================== -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block contenido %}
	<a href="#page-top" class="scroll-up scroll"><i class="fa fa-chevron-up"></i></a>
    <h1>Freelancer</h1>

    <!-- ==========================
    	HEADER - START
    =========================== -->
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavigation"><i class="fa fa-bars"></i></button>
                    <img src="{{ MEDIA_URL }}/image/jonathan.png" class="navbar-logo pull-left" alt="" />
                    <a href="index-2.html" class="navbar-brand animated flipInX">Anthony Wainer</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="myNavigation">

                    <ul class="nav navbar-nav navbar-right animated flipInX">
                        <li><a href="#about" class="scroll">Sobre Mí</a></li>
                        <li><a href="#reference" class="scroll">Referencias</a></li>
                        <li><a href="#pricing" class="scroll">Precio</a></li>
                        <li><a href="#contact" class="scroll">Contáctame</a></li>
                        <li><a href="blog.html" class="scroll blog_menu_link">Blog</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>

        <div class="jumbotron">
            <img src="{{ MEDIA_URL }}/image/jonathan.png" class="img-responsive scrollpoint sp-effect3" alt="" />
            <div class="social-wrapper">
                <ul class="brands brands-inline hidden-xs scrollpoint sp-effect1">
                    <li><a href="https://www.facebook.com/awcg7" target="_blank"><i class="fa fa-facebook  hi-icon-effect-8"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                </ul>
                <h2 class="scrollpoint sp-effect3">Anthony Wainer</h2>
                <ul class="brands brands-inline hidden-xs scrollpoint sp-effect2">
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!-- Slideshow start -->
            <div id="slideshow" class="carousel slide vertical scrollpoint sp-effect3" data-ride="carousel">
                <div class="carousel-inner">
                    <!-- Slideshow item 1 active -->
                    <div class="item active"><h3>I <i class="fa fa-heart icon-first"></i> webdesign</h3></div>
                    <!-- Slideshow item 2 -->
                    <div class="item"><h3>Código Creativo<i class="fa fa-code icon"></i></h3></div>
                    <!-- Slideshow item 3 -->
                    <div class="item"><h3><i class="fa fa-trophy"></i> Diseño Asombroso</h3></div>
                </div>
            </div>
            <!-- Slideshow end -->
        <a href="#about" class="btn btn-reference btn-lg scroll scrollpoint sp-effect1" role="button">
            <i class="fa fa-smile-o"></i> Conócerme mejor</a>
        <a href="#contact" class="btn btn-reference btn-lg btn-active scroll scrollpoint sp-effect2" role="button">
            <i class="fa fa-bolt"></i> Contrátame</a>
        </div>
    </header>
    <!-- ==========================
    	HEADER - END
    =========================== -->

    <!-- ==========================
    	ABOUT - START
    =========================== -->
    <section id="about" class="content-first">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 hidden-xs scrollpoint sp-effect1"><!-- Profile image -->
                	<img src="{{ MEDIA_URL }}/image/jonathan.png" class="image-bordered img-responsive" alt="" />
                </div><!-- Profile end -->

                <div class="col-md-7 col-sm-6 scrollpoint sp-effect1"><!-- Profile description -->
                	<h3>Anthony Wainer</h3>
                  	<p style="text-align: justify">
                        Siempre he sentido interés por la tecnología y en especial por las computadoras y todo lo relacionado
                        a estas, esto me dio el deseo de aprender todo lo relacionado a la ingeniería en sistemas e informática,
                        carrera de la cual estoy por egresar. <br><br>
                        Tengo experiencia laboral en desarrollo de aplicaciones web, desktop y móvil (android),
                        administracion de bases de datos en mysql y postgres, asi como tambien he adquirido
                        experiencia en diseño, creación y mantenimiento de sitios web, blogs, foros y tiendas en linea.
                        Tengo conocimientos de posicionamiento web en buscadores y campañas de marketing/publicidad en Internet.
                    </p>

                    <div class="tweets"><!-- Tweets row -->
                        <!-- Tweets slideshow -->
                             <div class="media">
                                    <div class="pull-left"><i class="fa fa-twitter"></i></div>
                                    <div class="media-body">
                                        <div id="slideshow1" class="carousel slide" data-ride="carousel">
                                              <div class="carousel-inner">
                                               <!-- Slideshow item 1 active -->
                                                  <div class="item active">
                                                        <p>Hola a todos Acabo de terminar mi última plantilla #awesome web se puede comprobar en #wrapbootstrap .. cumpla con todos los móviles primera webtheme.co</p>
                                                  </div>
                                               <!-- Slideshow item 2 -->
                                                  <div class="item">
                                                        <p>Compruebe nuestra nueva cartera increíble en #Pixelized</p>
                                                  </div>

                                                <!-- Slideshow item 3 -->
                                                  <div class="item">
                                                        <p>Otro tweet muy #important de su Twitter.</p>
                                                  </div>
                                              </div>
                                         </div>
                                    </div>
                             </div>
                       <!-- Tweets slideshow end -->
                    </div><!-- Tweets row end -->
               </div><!-- Profile description end-->

              <div class="col-md-3 col-sm-4 scrollpoint sp-effect2"><!--Timeline-->

                  <div class="timeline">
                      <!-- BLOG POST 1 - START -->
                      <div class="event">
                          <div class="event-info">
                            <div class="date">2005</div>
                          </div>
                      	  <span>Graduado Escuela</span>
                      </div> <!-- BLOG POST 1 - END -->

                      <div class="event">
                          <div class="event-info">
                             <div class="date">2008</div>
                          </div>
                      	  <span>Internship Google</span>
                      </div> <!-- BLOG POST 1 - END -->

                      <div class="event">
                          <div class="event-info">
                             <div class="date">2010</div>
                          </div>
                      	  <span>Graduado Colegio</span>
                      </div> <!-- BLOG POST 1 - END -->

                      <div class="event">
                          <div class="event-info">
                             <div class="date">2011</div>
                          </div>
                      	  <span>Inicio de Carrera</span>
                      </div> <!-- BLOG POST 1 - END -->

                      <div class="event">
                          <div class="event-info">
                             <div class="date">2016</div>
                          </div>
                      	  <span>Graduaduo UNSM</span>
                      </div> <!-- BLOG POST 1 - END -->

                  </div><!--timeline-->
              </div><!--col 3 end-->

            </div><!--Row about end-->


            <div class="row">
            	<div class="col-md-12 text-center">
                	<a id="skills-toggle" class="btn btn-primary"><i class="fa fa-arrow-circle-o-down"></i> Compruebe mis habilidades</a>
                </div>
            </div>
        </div><!-- Container end-->

        <div id="skills">
            <div class="container">
                <div class="row"><!-- Toogle my skills start -->
                    <div class="col-md-3">
                        <div class="chart" data-percent="73">73% CSS</div>
                    </div>
                    <div class="col-md-3">
                        <div class="chart" data-percent="89">89% Html</div>
                    </div>
                    <div class="col-md-3">
                        <div class="chart" data-percent="83">83% Code</div>
                    </div>
                    <div class="col-md-3">
                        <div class="chart" data-percent="62">62% Design</div>
                    </div>
                </div><!-- Toogle my skills end-->

            </div><!-- Container end-->
        </div>

    </section>
    <!-- ==========================
    	ABOUT - END
    =========================== -->

     <!-- ==========================
    	SERVICER - START
    =========================== -->
    <section id="services" class="content-second">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="scrollpoint sp-effect3">Lo que hago</h2>
                    <!--<p class="scrollpoint sp-effect3">foto dolor sit amet, consectetur adipiscing elit. Fusce in turpis quam. Nulla quis eleifend lectus.</p>-->
                </div>

                <div class="col-md-3 service scrollpoint sp-effect1">
                <img src="{{ MEDIA_URL }}/image/ico5.png" alt="">
                <h3>primero en SEO</h3>
                <p>El posicionamiento en buscadores u optimización de motores de búsqueda es el proceso de mejorar la visibilidad
                    de un sitio web en los resultados orgánicos de los diferentes buscadores. </p>
                </div>


                <div class="col-md-3 service scrollpoint sp-effect1">
                <img src="{{ MEDIA_URL }}/image/ico4.png" alt="">
                <h3>Primera clase en Diseño</h3>
                <p>
                    El diseño web adaptable, adaptativo, conocido por las siglas RWD del inglés Responsive Web Design, es una filosofía
                    de diseño y desarrollo cuyo
                    objetivo es adaptar la apariencia de las páginas web al dispositivo que se esté utilizando para visualizarlas.
                </p>
                </div>


                <div class="col-md-3 service scrollpoint sp-effect2">
                <img src="{{ MEDIA_URL }}/image/ico1.png" alt="">
                <h3>Full responsivo</h3>
                <p></p>
                </div>

                <div class="col-md-3 service scrollpoint sp-effect2">
                <img src="{{ MEDIA_URL }}/image/ico3.png" alt="">
                <h3>Navegaci+on Amigable</h3>
                <p></p>
                </div>

            </div>
        </div>
    </section>
    <!-- ==========================
    	SERVICES - END
    =========================== -->

    <!-- ==========================
    	NUMBERS - START
    =========================== -->
    <section id="separator" class="content-first">
        <div class="container">
            <div class="row scrollpoint sp-effect3">
                <div class="col-sm-2">
                	<i class="fa fa-user"></i>
                    <p><span class="number highlight" data-from="0" data-to="100" data-refresh-interval="10">

                    </span> Clientes Felices</p>
                </div>
                <div class="col-sm-2">
                	<i class="fa fa-coffee"></i>
                    <p><span class="number highlight" data-from="0" data-to="250" data-refresh-interval="10"></span>
                        Copas de Café</p>
                </div>
                <div class="col-sm-2">
                	<i class="fa fa-code"></i>
                    <p><span class="number highlight" data-from="0" data-to="2500" data-refresh-interval="10"></span>
                        Lineas de código</p>
                </div>
                <div class="col-sm-2">
                	<i class="fa fa-envelope"></i>
                    <p><span class="number highlight" data-from="0" data-to="300" data-refresh-interval="10"></span> Emails</p>
                </div>
                <div class="col-sm-2">
                	<i class="fa fa-phone"></i>
                    <p><span class="number highlight" data-from="0" data-to="50" data-refresh-interval="10"></span>
                        Horas de llamada</p>
                </div>
                <div class="col-sm-2">
                	<i class="fa fa-facebook"></i>
                    <p><span class="number highlight" data-from="0" data-to="24" data-refresh-interval="10"></span> Horas de facebook</p>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
    	NUMBERS - END
    =========================== -->

     <!-- ==========================
    	SHOWCASE - START
    =========================== -->
    <section id="showcase" class="content-second">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="scrollpoint sp-effect3">Mi último trabajo</h2>
                    <!--<p class="scrollpoint sp-effect3">foto dolor sit amet, consectetur adipiscing elit. Fusce in turpis quam. Nulla quis eleifend lectus.</p>-->
                </div>

                <div class="col-lg-6 showcase-text scrollpoint sp-effect1">
                    <div class="row">
                    <!-- Service 1 -->
                    	<div class="col-sm-6 col-md-6 col-lg-12">
                            <div class="media">
                                <div class="pull-left showcase-icon"><i class="fa fa-puzzle-piece"></i></div>
                                <div class="media-body">
                                    <h3 class="media-heading">Navegación amigable</h3>
                                    <p>Una manera fácil e interativa.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Service 2 -->
                    	<div class="col-sm-6 col-md-6 col-lg-12">
                            <div class="media">
                                <div class="pull-left showcase-icon"><i class="fa fa-trophy"></i></div>
                                <div class="media-body">
                                   <h3 class="media-heading">Primera clase en diseño</h3>
                                    <p>Un diseño sencillo y agradable.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Service 3 -->
                    	<div class="col-sm-6 col-md-6 col-lg-12">
                            <div class="media">
                                <div class="pull-left showcase-icon"><i class="fa fa-thumbs-up"></i></div>
                                <div class="media-body">
                                    <h3 class="media-heading">Profesional freelancers</h3>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <!-- Service 4 -->
                    	<div class="col-sm-6 col-md-6 col-lg-12">
                            <div class="media">
                                <div class="pull-left showcase-icon"><i class="fa fa-arrows"></i></div>
                                <div class="media-body">
                                    <h3 class="media-heading">Full responsivo</h3>
                                    <p>Página adaptable.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                   <div class="text-center showcase-button">
                   		<a class="btn btn-primary btn-lg" target="_blank" href="www.capema.org" role="button"><i class="fa fa-bolt"></i> Ver en acción</a>
                   </div>
                </div>

                <div class="col-lg-6 col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2 col-lg-offset-0 showcase-carousel hidden-xs scrollpoint sp-effect2">
                    <img src="{{ MEDIA_URL }}/image/imac.png" class="img-responsive" alt="">

                    <div id="carousel-reference" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active"><img src="{{ MEDIA_URL }}/image/image_01.png" alt=""></div>
                            <div class="item"><img src="{{ MEDIA_URL }}/image/image_02.png" alt=""></div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-reference" data-slide="prev"><i class="fa fa-arrow-left"></i></a>
                        <a class="right carousel-control" href="#carousel-reference" data-slide="next"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
    	SHOWCASE - END
    =========================== -->

    <!-- ==========================
    	QUOTES - START
    =========================== -->
    <section id="quotes" class="content-first">
        <div class="container">
            <div class="row scrollpoint sp-effect3">
                <div class="col-sm-8 col-sm-offset-2">
                    <blockquote class="blockquote-reverse">
                        <p><i class="fa fa-quote-left"></i> El diseño no es sólo lo que se ve y se siente. El diseño es cómo funciona.</p>
                        <footer> Steve Jobs</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
    	QUOTES - END
    =========================== -->

    <!-- ==========================
    	REFERENCE - START
    =========================== -->
    <section id="reference" class="content-second">
        <h2 class="scrollpoint sp-effect3">Referencia</h2>
        <p class="scrollpoint sp-effect3"></p>
   		<ul class="grid cs-style-4">
				<li>
					<figure class="scrollpoint sp-effect1">
						<div><img src="{{ MEDIA_URL }}/image/ref1.png" alt="img04"></div>
						<figcaption>
							<h3>foto</h3>
							<a href="portfolio.html">Muéstrame</a>
						</figcaption>
					</figure>
				</li>

                <li>
					<figure class="scrollpoint sp-effect3">
						<div><img src="{{ MEDIA_URL }}/image/ref2.png" alt="img04"></div>
						<figcaption>
							<h3>foto</h3>
							<a href="portfolio.html">Muéstrame</a>
						</figcaption>
					</figure>
				</li>

                <li>
					<figure class="scrollpoint sp-effect2">
						<div><img src="{{ MEDIA_URL }}/image/ref3.png" alt="img04"></div>
						<figcaption>
							<h3>foto</h3>
							<a href="portfolio.html">Muéstrame</a>
						</figcaption>
					</figure>
				</li>

                <li>
					<figure class="scrollpoint sp-effect1">
						<div><img src="{{ MEDIA_URL }}/image/ref4.png" alt="img04"></div>
						<figcaption>
							<h3>foto</h3>
							<a href="portfolio.html">Muéstrame</a>
						</figcaption>
					</figure>
				</li>

                <li>
					<figure class="scrollpoint sp-effect3">
						<div><img src="{{ MEDIA_URL }}/image/ref5.png" alt="img04"></div>
						<figcaption>
							<h3>foto</h3>
							<a href="portfolio.html">Muéstrame</a>
						</figcaption>
					</figure>
				</li>

                <li>
					<figure class="scrollpoint sp-effect2">
						<div><img src="{{ MEDIA_URL }}/image/ref6.png" alt="img04"></div>
						<figcaption>
							<h3>foto</h3>
							<a href="portfolio.html">Muéstrame</a>
						</figcaption>
					</figure>
				</li>

			</ul>

	</section>
    <!-- ==========================
    	REFERENCE - END
    =========================== -->

    <!-- ==========================
    	BLOG - START
    =========================== -->
    <section id="blog" class="content-first">
    	<div class="container">
        	<h2 class="scrollpoint sp-effect3">Último post del blog</h2>
        	<p class="scrollpoint sp-effect3"></p>
        </div>

        <div class="line hidden-xs">
        	<div class="container">
                <div class="row">
                    <div class="col-sm-4"><i class="fa fa-bullhorn"></i></div>
                    <div class="col-sm-4"><i class="fa fa-bullhorn"></i></div>
                    <div class="col-sm-4"><i class="fa fa-bullhorn"></i></div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row"><!-- MAIN ROW - Start -->
            	<!-- BLOG POST - Start -->
                <div class="col-sm-4 scrollpoint sp-effect1">
                	<div class="blog-post">
                    	<div class="blog-body">
                    		<h3>Responsive Design</h3>
                        	<p>El uso de dispositivos móviles está creciendo a un ritmo increíble;
                                Por este motivo el diseño web adaptable se ha vuelto tan popular,
                                pues es una técnica que proporciona una solución web que puede manejar la
                                visualización web tanto de escritorio como de dispositivos.</p>
                        	<a href="blog.html" class="btn btn-primary">Leer Más</a>
                        </div>
                        <div class="blog-info">
                        	<a><i class="fa fa-comment"></i> 352</a>
                            <a><i class="fa fa-calendar"></i> 21/03/2014</a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <!-- BLOG POST - End -->

                <!-- BLOG POST - Start -->
                <div class="col-sm-4 scrollpoint sp-effect3">
                	<div class="blog-post">
                    	<div class="blog-body">
                    		<h3>CSS3</h3>
                        	<p>El diseño web adaptable se hace posible gracias a la introducción de las media queries en las propiedades
                                de los estilos CSS en su versión número 3.
                            </p>
                        	<a href="blog.html" class="btn btn-primary">Leer Más</a>
                        </div>
                        <div class="blog-info">
                        	<a><i class="fa fa-comment"></i> 352</a>
                            <a><i class="fa fa-calendar"></i> 21/03/2014</a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <!-- BLOG POST - End -->

                <!-- BLOG POST - Start -->
                <div class="col-sm-4 scrollpoint sp-effect2">
                	<div class="blog-post">
                    	<div class="blog-body">
                    		<h3>Media Querie</h3>
                        	<p>Media Queries es un módulo CSS3 que permite adaptar la representación del contenido a características
                                del dispositivo como la resolución de pantalla (por ejemplo, un smartphone frente a pantallas de alta definición)
                                o la presencia de características de accesibilidad como el braille. </p>
                        	<a href="blog.html" class="btn btn-primary">Leer Más</a>
                        </div>
                        <div class="blog-info">
                        	<a><i class="fa fa-comment"></i> 352</a>
                            <a><i class="fa fa-calendar"></i> 21/03/2014</a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <!-- BLOG POST - End -->

            </div><!-- MAIN ROW - end -->
        </div><!-- CONTAINER - end -->
    </section>
    <!-- ==========================
    	BLOG - END
    =========================== -->

    <!-- ==========================
    	PRICING - START
    =========================== -->
    <section id="pricing" class="content-second">
        <div class="container">
        	<h2 class="scrollpoint sp-effect3">Precio de los Planes</h2>
        	<p class="scrollpoint sp-effect3"></p>
            <div class="row">
            <!-- PRICING TABLE FIRST - start -->
                <div class="col-sm-4 scrollpoint sp-effect1"><!-- PRICING TABLE FIRST - start -->
                    <div class="pricing-table"><!-- Pricing table - start -->
                        <div class="pricing-headline">
                        	<h3>Lite</h3>
                            <div class="prize">S/. 99</div>
                        </div>

                        <ul class="list-unstyled">
                            <li><strong>150</strong> foto</li>
                            <li><i class="fa fa-check"></i> foto</li>
                            <li><i class="fa fa-times"></i> foto</li>
                            <li><strong>150</strong> foto</li>
                        </ul>

                        <div class="btn-wrapper">
                        <a class="btn btn-primary">Ordenar</a>
                        </div>


                    </div><!-- Pricing table - end-->
           		</div><!-- COL-SM-4 - end -->

            	<div class="col-sm-4 scrollpoint sp-effect3"><!-- PRICING TABLE FIRST - start -->
                    <div class="pricing-table active"><!-- Pricing table - start -->
                        <div class="pricing-headline">
                        	<h3>Standard</h3>
                            <div class="prize">S/. 150</div>
                        </div>

                        <ul class="list-unstyled">
                            <li><strong>150</strong> foto</li>
                            <li><i class="fa fa-check"></i> foto</li>
                            <li><i class="fa fa-times"></i> foto</li>
                            <li><strong>150</strong> foto</li>
                        </ul>

                        <div class="btn-wrapper">
                        <a class="btn btn-primary">Ordenar</a>
                        </div>


                    </div><!-- Pricing table - end-->
           		</div><!-- COL-SM-4 - end -->

                <div class="col-sm-4 scrollpoint sp-effect2"><!-- PRICING TABLE FIRST - start -->
                    <div class="pricing-table"><!-- Pricing table - start -->
                        <div class="pricing-headline">
                        	<h3>Premium</h3>
                            <div class="prize">S/. 350</div>
                        </div>

                        <ul class="list-unstyled">
                            <li><strong>150</strong> foto</li>
                            <li><i class="fa fa-check"></i> foto</li>
                            <li><i class="fa fa-times"></i> foto</li>
                            <li><strong>150</strong> foto</li>
                        </ul>

                        <div class="btn-wrapper">
                        <a class="btn btn-primary">Ordenar</a>
                        </div>


                    </div><!-- Pricing table - end-->
           		</div><!-- COL-SM-4 - end -->

            </div>
        </div>
    </section>
    <!-- ==========================
    	PRICING - END
    =========================== -->

    <!-- ==========================
    	TESTIMONIALS - START
    =========================== -->
    <section id="testimonials" class="content-first">
        <div class="container">
        	<h2 class="scrollpoint sp-effect3 text-center">Testimonios</h2>
        	<p class="scrollpoint sp-effect3 text-center"></p>
            <div class="row">

                <!-- TESTIMONIAL 1 - START -->
                <div class="col-sm-6 scrollpoint sp-effect1">
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object img-circle" src="{{ MEDIA_URL }}/image/tom.png" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">Anthony Wainer</h4>
                            <span>Webdesigner</span>
                            <p></p>
                        </div>
                    </div>
                </div>
                <!-- TESTIMONIAL 1 - END -->

                <!-- TESTIMONIAL 2 - START -->
                <div class="col-sm-6 scrollpoint sp-effect2">
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object img-circle" src="{{ MEDIA_URL }}/image/suzanne.png" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">Anthony Wainer</h4>
                            <span>Webdesigner</span>
                            <p></p>
                        </div>
                    </div>
                </div>
                <!-- TESTIMONIAL 2 - END -->

            </div>

        </div>
    </section>
    <!-- ==========================
    	TESTIMONIALS - END
    =========================== -->

    <!-- ==========================
    	CONTACT - START
    =========================== -->
    <section id="contact" class="content-first">
        <div class="container">
        	<h2 class="scrollpoint sp-effect3">Contáctame</h2>
            <div class="contact-alert">
            </div>
            <div class="row">
            <!-- PRICING TABLE FIRST - start -->
                <div class="col-sm-12">
                	<img src="{{ MEDIA_URL }}/image/macbook.png" class="img-responsive hidden-xs" alt="">

                    <div class="macbook-inner black">
                    	<div class="row scrollpoint sp-effect4">
                        	<div class="col-sm-8">
                            	<h3 class="hidden-xs">Deja un mensaje</h3>

                                <form role="form" id="contactForm">

                                    <div class="form-group control-group">
                                        <div class="controls">
                                            <p class="help-block"></p>
                                            <input type="text" class="form-control" placeholder="Nombres" id="firstname" data-validation-required-message="Please enter your first name." aria-invalid="false">
                                        </div>
                                    </div>

                                    <div class="form-group control-group">
                                        <div class="controls">
                                            <p class="help-block"></p>
                                            <input type="text" class="form-control" placeholder="Apellidos" id="lastname" data-validation-required-message="Please enter your last name." aria-invalid="false">
                                        </div>
                                    </div>

                                    <div class="form-group control-group">
                                        <div class="controls">
                                            <p class="help-block"></p>
                                            <input type="email" class="form-control" placeholder="Email" id="email" data-validation-required-message="Please enter your email address." aria-invalid="false">
                                        </div>
                                    </div>

                                    <div class="form-group control-group">
                                        <div class="controls">
                                            <p class="help-block"></p>
                                            <textarea class="form-control" placeholder="Mensaje" id="message" data-validation-required-message="Please enter some message." aria-invalid="false"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                                    </div>
                                </form>

                            </div>
                            <div class="col-sm-4">

                            <img src="{{ MEDIA_URL }}/image/jonathan.png" class="contact-image image-responsive hidden-xs hidden-sm" alt="" />
                            	<div class="contact-info">
                                	<p>Anthony Wainer</p>
                                    <p>Jr. Guepi #734</p>
                                    <p>Morales</p>
                                    <p>#995115517</p>
                                </div>
                            </div>
                    	</div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
    	CONTACT - END
    =========================== -->

    <!-- ==========================
    	FOOTER - START
    =========================== -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 scrollpoint sp-effect3">

               			<ul class="brands brands-inline">
                            <li><a href="#"><i class="fa fa-facebook  hi-icon-effect-8"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>

                    <p>© CLOUDTIC-SAC 2016 Todos los derechos reservados. Diseñado por <a href="https://www.facebook.com/awcg7" target="_blank" class="btn btn-footer">Awcg Studio</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
    	FOOTER - END
    =========================== -->
{% endblock %}
{% block js %}

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/creative-brands.js' %}"></script>
    <script src="{% static 'js/jquery.easy-pie-chart.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
    $(function () {
		$("input,textarea").jqBootstrapValidation({
        	preventSubmit: true,

			submitSuccess: function($form, event) {
				event.preventDefault(); // prevent default submit behaviour
				// get values from FORM
				var firstname = $("input#firstname").val();
				var lastname = $("input#lastname").val();
				var email = $("input#email").val();
				var message = $("textarea#message").val();

				$.ajax({
					url: "send.php",
					type: "POST",
					data: {
						firstname: firstname,
						lastname: lastname,
						email: email,
						message: message
					},
					cache: false,
					success: function() {
						// Success message
						$('.contact-alert').html("<div class='alert alert-success'>");
						$('.contact-alert > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'><i class='fa fa-times'></i></button><strong>Your message has been sent.</strong></div>");
						//clear all fields
						$('#contactForm').trigger("reset");
					},
					error: function() {
						// Fail message
						$('.contact-alert').html("<div class='alert alert-danger'>");
						$('.contact-alert > .alert-danger').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'><i class='fa fa-times'></i></button><strong>Sorry, it seems that my mail server is not responding. Please try again later!</strong></div>");
						//clear all fields
						$('#contactForm').trigger("reset");
					},
				})
			}
		});
	});
    </script>
{% endblock %}
