<div id="page-sidebar">
    <div class="scroll-sidebar">
    <ul id="sidebar-menu">
    {% if modulo %}
    {% for m in modulo %}
        {% if m.idmodules__father == 0 and m.See == True %}
            <li >
                <a href="#" title="{{m.idmodules__description}}">
                    <i class="glyph-icon {{m.idmodules__icon__clase}}"></i>
                        <span >{{m.idmodules__description}}</span>
                </a>
                <div class="sidebar-submenu">
                    {% with idpadre=m.idmodules_id %}
                        <ul>
                            {% for n in modulo  %}
                                {% if n.idmodules__father == idpadre and n.See == True %}
                                    <li>
                                        <a  title="{{n.idmodules__description}}" href="#{{n.idmodules__url}}">
                                        <span><i class="{{n.idmodules__icon__clase}}"></i> {{n.idmodules__description}}</span>
                                        </a>
                                    </li>

                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endwith %}
                </div><!-- .sidebar-submenu -->
            </li>

        {% endif %}
    {% endfor %}

    {% else %}
        <br>
       <div class="alert alert-warning">
           <div class="bg-red alert-icon">
               <i class="glyph-icon icon-warning"></i>
           </div>
            <div class="alert-content">
                 No se encontro ningún Módulo contacte con el Administrador

                <a href="#" title="Link">:(</a></p>
            </div>
       </div>

    {% endif %}

    </ul><!-- #sidebar-menu -->


    </div>
</div>