                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               {% extends "base_security.html" %}
{% block title %}
	sistema - EMMARC
{% endblock  %}
{% block css %}

 {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilosadmin.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/pricing-table.css' %}" />
{% endblock %}

{% block contenido %}
<div id="system">
    <br>
    <h2 align="center"><b>LISTA DE PERFILES DE ACCESO</b></h2>
    <hr>
<div class="container">
    {% for s in profile %}
            <div class="col-md-4">
                <div class="pricing-box content-box">
                    <h3 class="bg-black pricing-title">{{ s.profiles__description }}</h3>
                    <div class="bg-blue pricing-specs">
                        <a href="?sys={{ s.profiles }}" class="btn btn-lg btn-default font-size-12" title="">Entrar!</a>
                    </div>

                </div>
            </div>
    {% endfor %}



    <hr>
</div>
</div>
{% endblock%}

