{% load static %}
<link href="{%static 'css/select2/select2.min.css' %}" rel="stylesheet" />

<!--registrar sub module-->
<div id="m">
    <h2 align="center">Registrar Nuevo Módulo</h2><br>
    <form  id = "Formmodule" align="center" method="POST" accept-charset="utf-8" class="form-inline" >
        {% csrf_token %}
          <div class="form-group">
              <label for="id_description">Descripción:</label>
              {{formulario.description}}
          </div>

          <div class="form-group">
              <label for="id_icon">Icono:</label> 
              <select  class="form-control module"  id="id_icon" style="width: 200px" name="icon"></select>
          </div>
          
          <input type="button"  id="registermodule" value="Agregar" class="btn btn-primary">
         
    </form><br><br>

    <!-- reistrar-->
            <div class="col-md-6" style="text-align:center;">
             <label> MÓDULO</label>
                <div id="modul" class="">
                <table class="table table-inverse">
                    <tbody id="m1">

                   </tbody>
                </table>
                </div>
          </div>

          <div class="col-md-6" style="text-align:center;">
             <label> SUBMÓDULO</label>
               <div id="submodul">
                   <table class="table table-inverse">
                      <tbody id="sub">          

                      </tbody>
                    </table>
               </div>
          </div>


          <!-- Modal -->
<div id="myModal" ></div>
<script type="text/templates" id="tFormMod">
        <form id="formM">
            {% csrf_token %}
            <input type='hidden' name='father' value='<%= id %>'/>
            <% _.each(data, function(i,k){   %>
            <label>Descripción:</label>
            <input id='id_description' type='text' class='form-control' value='<%= i.description.toLowerCase() %>' name='description'>
            <label>Icono:</label><br>
            <select  id='id_icon' class='form-control moduleB' style='width:100%'  name='icon'>
                <option value='<%= i.icon.id %>'></option>
            </select><br>
            <% }) %>
        </form>
</script>
<script type="text/templates" id="tFormSubM">
        <form id="formSubM">
            {% csrf_token %}
                <input type='hidden' name='father' value='<%= id %>'/>
                <% if (data != null){ _.each(data, function(i,k){   %>
                <label>Descripción:</label>
                <input type='text' id='id_description' value='<%= i.description %>'
                       class='form-control' onkeyup='kdes(this,"<%= de.toLowerCase() %>")' name='description'/>
                <label>Icono:</label>
                <br>
                <select  class='form-control moduleA' id='id_icon' style='width:100%'  name='icon'>
                    <option value='<%= i.icon.id %>'><%= i.icon.clase %></option>
                </select>
                <br>
                <div >
                    <label>nombre de Url</label>
                    <input name='url' id='url' type='text' class='form-control' value='<%= i.url %>/' disabled>
                    <input name='url' id='url' type='hidden'  value='<%= i.url %>/'>
                </div>
            <% }) }else{ %>
                <label>Descripción:</label>
                <input type='text' id='id_description' value=''
                       class='form-control' onkeyup='kdes(this,"<%= de.toLowerCase() %>")' name='description'/>
                <label>Icono:</label>
                <br>
                <select  class='form-control moduleA' id='id_icon' style='width:100%'  name='icon'>
                </select>
                <br>
                <div >
                    <label>nombre de Url</label>
                    <input name='url' id='url' type='text' class='form-control' value='<%= de.toLowerCase()%>/' disabled>
                </div>
            <% } %>
        </form>
</script>

<script type="text/templates" id="tmodule">
    <% _.each(data, function(i,k){ if (i.father==0){  %>
        <tr>
            <td><%= k+1 %></td>
            <td>
                <i class="<%= i.icon.clase %>"/>
            </td>
            <td style="text-transform:uppercase;">
                <%= i.description %>
            </td>
            <td>
                <a class="puntero" onclick="UpdateMod(<%= i.id %>)">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
            </td>
            <td>
                <a class="puntero" onclick="DeleteMod(<%= i.id %>)">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
            <td>
                <a class="puntero"  onclick="SeeSubMod(<%= i.id %>,'<%= i.description %>')">
                    <i class="fa fa-share"></i>
                </a>
            </td>
        </tr>
    <% } }) %>
</script>


<script type="text/template" id="tsubmodule">

    <% _.each(data, function(i,k){ %>
    <tr>
        <td><%= k+1%></td>
        <td>
            <i class="<%= i.icon.clase %>"/>
        </td>
        <td style="text-align:left;"><%= i.description %></td>
        <td>
            <a class="puntero" onclick="updateSubM(<%= i.id %>,'<%= d %>','<%= p %>')">
                <i class="fa fa-pencil-square-o"></i>
            </a>
        </td>
        <td>
            <a class="puntero"  onclick="deleteSubMod(<%= i.id %>,'<%= d %>','<%= p %>')">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
    <% }) %>

</script>

<script src="{% static 'js/appSecurity/base.js' %}"></script>
<script src="{% static 'js/appSecurity/module.js' %}"></script>
<script src="{% static 'js/appSecurity/submodule.js' %}"></script>