<h3 align="center">LISTA DE PERFILES</h3>
<br>
<a type="button" class="btn btn-primary" href="#security/profile/frmp/?id=">Agregar</a>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>descripción</th>
                <th>Permisos</th>
                <th>actualizar</th>
                <th>eliminar</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>



<div id="form_profile"></div>

<script type="text/template" id="tbo">
    <% _.each(data, function(i,k){  %>
        <tr>
            <td><%=i.description%> </td>
            <td><a href="#security/permission/?id=<%= i.id %>&name=<%=i.description%>"><i class="fa fa-external-link-square"></i></a></td>
            <td>
                <a  href="#security/profile/frmp/?id=<%=i.id%>">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
            </td>
            <td>
                <a onclick="deleteprofile(<%=i.id%>)" style="cursor: pointer">
                    <i class="fa fa-trash"></i>
                </a>                        
            </td>
                    
        </tr>
    <% }) %>
</script>

{% load staticfiles %}
<script src="{% static 'js/appSecurity/base.js' %}"></script>
<script src="{% static 'js/appSecurity/profile.js' %}"></script>