<h2 align="center">Lista de Usuarios</h2><br>
<div class="panel table-responsive">
            {% with 'USUARIOS' as TIT  %}
                {% include "grid/head.html" %}
            {% endwith %}
    <table class="table table-condensed table-rounded table-hover">
    <thead>
        <tr>
             <th><input type="checkbox" id="all" data-content="eliminar"></th>
            <th>N°</th>
            <th>Nombres y Apellidos</th>
            <th>Perfil</th>
            <th>Usuario</th>
            <th>Dni</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% include "datoAjaxUsers.html" %}
    </tbody>
</table>
    {% with lista as paginacion  %}
        {% include "grid/pagination.html" %}
    {% endwith %}
</div>


<script>

$("#all").click(function(){
  if ($(this).prop("checked")) {
    $('.padre input').prop('checked', true);
  }else{

    $('.padre input').prop('checked', false);
   }
});
    //focus input
$(".search").focus();
$(".search").attr('style', 'color:black;border-radius: 5px;padding-left: 10px;');
url= "security/usuarios"
//enviar nro de pagina
function ajax_get_update(nro,pag){
       $.get(''+url,{'page':nro,'pag':pag}, function(data){
            html=''+data;
            $( '#resultados' ).empty().html(html);
        });
    }
    $( '.pg' ).click( function() {
        page = $(this).attr('name');
        pag=$('#selP').val();
        ajax_get_update(page,pag);
    });
//busqueda
  function search(t,table,list,v) {
    campo = $(t).val().toLowerCase();
    tip = url;
    //alert(tip);
      if (campo != ""){
       $.get('/Buscar'+tip,{'campo':campo,'tabla':table,'list':list,'values':v}, function(data){
            if (data != "") {
                html=''+data;
            }else{html='<tr/><td>nose encontro coincidencias</td></tr>';}
            $( 'tbody' ).empty().html(html);
        });
     }else{
      ajax_get_update(1,$('#selP').val());
     }
  }
//seleccionar pagina ajax
$("#selP").change(function(){
  $.get(url, {'pag': $(this).val()}, function(data) {
    $( '#resultados' ).empty().html(data);
  });
});
$('.numberI').blur(function(){
  ajax_get_update($(this).val(),$(this).attr('id'));
});
    function add(){
        $.get('security/usuarios/add',function(d){
             $('#resultados').empty().html(d);
        });
    }
    function moreUser(id){
        $.get('security/usuarios/view/',{'id':id},function(d){
             $('#resultados').empty().html(d);
        });
    }
    function updateUser(id){
        $.get('security/usuarios/'+id+'/',function(d){
            $('#resultados').empty().html(d);
            $('form').attr('idd',id);
        });

    }
    function deleteUser(id){
        $.get('security/usuarios/delete/'+id+'/',function(d){
           traemedatos('security/usuarios');
        });

    }
</script>